<div class="container2">
    <h4 class="buttons2">Fullness: @ViewBag.DachiNew.fullness</h4>
    <h4 class="buttons2">Happiness: @ViewBag.DachiNew.happiness</h4>
    <h4 class="buttons2">Meals: @ViewBag.DachiNew.meals</h4>
    <h4 class="buttons2">Energy: @ViewBag.DachiNew.energy</h4>
</div>
<div class="container">
    <h4 class="nav-link text-dark">@ViewBag.DachiNew.status</h4>
</div>
